
.box-post-item
	margin: 0 auto
	width: 90%

	//// debug
	//border: 1px solid blue

.post-item-content
	//font-family: font-content
	font-family: Arial,'Microsoft Yahei','微软雅黑'
	line-height: 1.5
	font-size: 14px
	color: #5F5F5F


